<TMPL_VAR name="date">のメモ
<div class="MMToday">
<TMPL_LOOP name="items">
<div class="line">
<TMPL_VAR name="description">
</div> <!-- line -->
</TMPL_LOOP>
<div class="posted">
Powered by <a href="http://1470.net/mm/">MM</a>
</div> <!-- posted -->
</div> <!-- MMToday -->
